<div fxFlexFill fxLayout="column">
<div class="table-cls mat-elevation-z8" fxLayout="column">
  <mat-table fxFlex="grow" [dataSource]="dataSource" matSort style="overflow: auto">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container *ngFor="let fieldName of fields" matColumnDef="{{fieldName}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{fieldName}}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[fieldName]}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="fields; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: fields;"></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]" class="sticky-paginator" showFirstLastButtons></mat-paginator>
  
</div>
</div>
