.ida-intro-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
ol {
  list-style-type: decimal;
}
ol ol{
  list-style-type: lower-alpha;
}
ol ol ol{
  list-style-type: lower-alpha;
}

.ida-align-body{
  margin-top: 30px;
  margin-bottom: 80px;
  margin-right: 80px;
  margin-left: 80px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

.top-left {
  position: absolute;
  top: 38px;
  left: 79px;
  font-size: 18px;
}
