<div  [attr.id]="fdgId1" fxFlexstyle="height: 150vh; margin: 20px;border-color: #eaeaea;border-style: solid">
  
  <div style="width: 100%; height: 20%;">
    <h1 align='center'>RDF Ontology Graph</h1>
  </div>
  <div id="filtersId" 
  style="width: 99%;height: 36px;margin-left: 3px;border-radius: 8px;background-color: #5DADE2;">  
    <label class="labelClass">
      Filters: 
       
    </label>
    <label class="labelClass">
      Display in deustch  
      <input class="checkboxClass" type="checkbox" [(ngModel)]="languageCheked" (change)="checkboxValuesChanged(isChecked)" /> 
    </label>
    <label class="labelClass"> 
      Include class heirarchy 
      <input class="checkboxClass" type="checkbox" [(ngModel)]="classHeirarchyChecked" value="1" (change)="checkboxValuesChanged(isChecked)" /> 
    </label>
    <label class="labelClass">
      Include all properties 
      <input class="checkboxClass" type="checkbox" [(ngModel)]="allPropChecked" (change)="checkboxValuesChanged(isChecked)" /> 
    </label>
    <label class="labelClass">
      Bounded graph
      <input class="checkboxClass" type="checkbox" [(ngModel)]="allNodesInBoundClicked" (change)="checkboxValuesChanged(isChecked)" /> 
    </label>
    <label class="labelClass">
      Disable zoom
      <input class="checkboxClass" type="checkbox" [(ngModel)]="disableZoomClicked" (change)="checkboxValuesChanged(isChecked)" /> 
    </label>
    <label class="labelClass"> 
      <button #graphReset (click)="graphResetChanged($event)" 
        style="width: 8%; height: 36px;margin-left: 3px;border-radius: 8px;background-color:whitesmoke;">
        Reset garph
      </button> 
    </label>
  </div>
<br/>
    <div  id="filtersId" 
          style="display: block;float: right;width:24.5%; height: 1053px;background-color:#F2F3F4;border-radius: 8px;">
          
          <div  id="nodeInformationId" 
              style="display: block;height: 26px;background-color:#5DADE2;border-radius: 8px;padding-top: 9px;">
            <label class="inputLabelClass">
              Node information: 
            </label>
            <br/>
          </div>
          
          <div  id="nodeInfoTagesId" 
              style="display: block;background-color:#AED6F1;border-radius: 8px;height: 480px;
                padding-top: 10px;">
            <label class="inputLabelClass" id="nodeNameId" >
              Node name: 
            </label>
            <br/><br/>
            <label class="inputLabelClass">
              Node ID: - -
            </label>
            <br/><br/>
            <label class="inputLabelClass">
              Description: - -
            </label>
            <br/><br/>
            <label class="inputLabelClass">
              Type: - -
            </label>
            <br/><br/>
          </div>

    </div>
    <div  [attr.id]="svgId" style="float: left; height: 140vh;background-color: #F8F9F9;border-radius: 8px;"></div>
</div>
