.labelClass {
    
    padding-left: 20px;
    text-indent: -15px;
    padding-top: 7px;
    font-size: 19px;
  }
.checkboxClass {
    width: 20px; 
    height: 20px;
    padding-top: 10px;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -8px;
    *overflow: hidden;
  }
  .inputLabelClass {
    padding-left: 10px;
    font-size: 19px;
    float: left;
  }
  
  .inputTextClass {
    border-radius: 8px;
    width: 33%;
    padding-left: 3px;
  }

  .nodeInfoDiv {
    padding-left: 35px;
    font-size: 20px;
    width:275px;
  }