<div  [attr.id]="fdgId1" fxFlexstyle="height: 150vh; margin: 20px;border-color: #eaeaea;border-style: solid">
  
  <div style="width: 100%; height: 20%;">
    <h1 align='center'>RDF Ontology Graph</h1>
  </div>
  <div id="filtersId" 
  style="width: 99%;height: 36px;margin-left: 3px;border-radius: 8px;background-color: #5DADE2;">  
    <label class="labelClass">
      Filters: 
       
    </label>
    <label class="labelClass">
      Display in deustch 
      <input class="checkboxClass" type="checkbox" [(ngModel)]="languageCheked" (change)="checkboxValuesChanged(isChecked)" /> 
    </label>
    <label class="labelClass"> 
      Include class heirarchy 
      <input class="checkboxClass" type="checkbox" [(ngModel)]="classHeirarchyChecked" value="1" (change)="checkboxValuesChanged(isChecked)" /> 
    </label>
    <label class="labelClass">
      Include all properties 
      <input class="checkboxClass" type="checkbox" [(ngModel)]="allPropChecked" (change)="checkboxValuesChanged(isChecked)" /> 
    </label>
    <label class="labelClass">
      Bounded graph
      <input class="checkboxClass" type="checkbox" [(ngModel)]="allNodesInBoundClicked" (change)="checkboxValuesChanged(isChecked)" /> 
    </label>
    <label class="labelClass">
      Disable zoom
      <input class="checkboxClass" type="checkbox" [(ngModel)]="disableZoomClicked" (change)="checkboxValuesChanged(isChecked)" /> 
    </label>
    <label class="labelClass"> 
      <button #graphReset (click)="graphResetChanged($event)" 
        style="width: 8%; height: 36px;margin-left: 3px;border-radius: 8px;background-color:whitesmoke;">
        Reset garph
      </button> 
    </label>
  </div>
<br/>
    <div  id="filtersId" 
          style="display: block;float: right;width:24.5%; height: 1053px;background-color:#F2F3F4;border-radius: 8px;">
          
          <div  id="nodeInformationId" 
              style="display: block;height: 26px;background-color:#5DADE2;border-radius: 8px;padding-top: 9px;">
            <label class="inputLabelClass">
              Node information: 
            </label>
            <br/>
          </div>
          
          <div  id="nodeInfoTagesId" 
              style="display: block;background-color:#AED6F1;border-radius: 8px;height: 480px;
                padding-top: 10px;">
            <label class="inputLabelClass" [attr.id]="nodeId" > 
                Node: 
            </label>
            <br/><br/>
            <label class="inputLabelClass" [attr.id]="nodeLabelId" > 
              Label:
            </label>
            <br/><br/>
            <label class="inputLabelClass" [attr.id]="nodeIdsId">
                Id:
            </label>
            <br/><br/>
            <label class="inputLabelClass" [attr.id]="nodeTypeId">
                Type:
            </label>
            <br/><br/>
            <label class="inputLabelClass" [attr.id]="nodeDescripId">
                Description: 
            </label>
            <br/><br/>
            <label class="inputLabelClass" [attr.id]="nodeSubClassId">
                Sub class of :
            </label>
            <br/><br/>
            <label class="inputLabelClass" [attr.id]="nodeDomainId">
                Domain:
            </label>
            <br/><br/>
            <label class="inputLabelClass" [attr.id]="nodeRangeId">
                Range:
            </label>
            <br/><br/>
            <label class="inputLabelClass" [attr.id]="nodeCommentId">
                Comment:
            </label>
            <br/><br/>
          </div>

          <div  id="graphConfigId" 
              style="display: block;height: 26px;background-color:#5DADE2;border-radius: 8px;padding-top: 9px;">
            <label class="inputLabelClass">
              Customize graph: 
            </label>
            <br/>
          </div>
          
          <div  id="graphConfigInputsId" 
              style="display: block;background-color:#AED6F1;border-radius: 8px;height: 480px;
                padding-top: 10px;">
            <label class="inputLabelClass">
              Edge size: <input type="text" class="inputTextClass" [(ngModel)]="edgeSize" placeholder=" 50">
            </label><br/>
            <label class="inputLabelClass">
              Graph charge/depth : <input type="text" class="inputTextClass" [(ngModel)]="graphCharge" placeholder=" 1000">
            </label><br/>
            <label class="inputLabelClass">
              Resource node radius: <input type="text" class="inputTextClass" [(ngModel)]="resourceRadius" placeholder=" 10">
            </label><br/>
            <label class="inputLabelClass">
              Literal node radius: <input type="text" class="inputTextClass" [(ngModel)]="literalRadius" placeholder=" 6">
            </label><br/>
            <label class="inputLabelClass">
              Resource node color: <input type="text" class="inputTextClass" [(ngModel)]="resourceNodeColor" placeholder=" #311B92">
            </label><br/>
            <label class="inputLabelClass">
              Resource node text color: <input type="text" class="inputTextClass" [(ngModel)]="resourceNodeTextColor" placeholder=" #311B92" >
            </label><br/>
            <label class="inputLabelClass">
              Literal node color: <input type="text" class="inputTextClass" [(ngModel)]="literalNodeColor" placeholder=" #FF9800">
            </label><br/>
            <label class="inputLabelClass">
              Literal node text color: <input type="text" class="inputTextClass" [(ngModel)]="literalNodeTextColor" placeholder=" #FF9800" >
            </label><br/>
            <label class="inputLabelClass">
              Sub class label: <input type="text" class="inputTextClass" [(ngModel)]="subClassLabel" placeholder=" --subClassOf--" >
            </label><br/>
            <label class="inputLabelClass">
              Sub class label color: <input type="text" class="inputTextClass" [(ngModel)]="subClassLabelColor" placeholder=" #3498DB" >
            </label><br/>
            <label class="inputLabelClass">
              Property text color: <input type="text" class="inputTextClass" [(ngModel)]="propertyTextColor" placeholder=" #28B463">
            </label><br/>
            <label class="inputLabelClass">
              On click node color: <input type="text" class="inputTextClass" [(ngModel)]="onClickNodeColor" placeholder=" red" >
            </label><br/> <br/><br/> 
 
            <button #applyConfigBtn (click)="applyConfigClicked($event)" 
              style="width: 33%; height: 36px;margin-left: 3px;border-radius: 8px;background-color:white;">
              Apply changes
            </button>
          </div>
    </div>
    <div  [attr.id]="svgId" style="float: left; height: 140vh;background-color: #F8F9F9;border-radius: 8px;"></div>
</div>
