/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

.table-cls {
  margin: 15px;
}
.sticky-paginator {
  position: sticky;
  bottom: 0;
  background-color: white;
}
.hidden-cls {
  display: none;
}

.fdg-label {
  font: 4px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
/*Scroll Style Start*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
/* 1px wider than Lion. /
height: 8px; / 1px wider than Lion. /
/ This is more usable for users trying to click it. */
background-color: rgba(0,0,0,0);
-webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb {
/* This is the EXACT color of Mac OS scrollbars.
Yes, I pulled out digital color meter */
background: rgba(0, 0, 0, 0.18);
-webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:active {
background: rgba(0, 0, 0, 0.30); /* Some darker color when you click it */
-webkit-border-radius: 100px;
}
/*Scroll Style End*/
.venntooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  background: #333;
  color: #ddd;
  padding: 4px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
