/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

.table-cls {
  overflow: auto;
  width: 97%;
  margin: 10px;
  height: 100vh;
}
.mat-header-row {
  position: sticky;
  top: 0;
  background-color: inherit;
}
.hidden-cls {
  display: none;
}

.fdg-label {
  font: 4px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
