<mat-toolbar color="primary">
<mat-toolbar-row class="layout-row layout-align-end-start">
<span class="spacer"></span>
<a mat-button (click)="logout()">Logout</a>
</mat-toolbar-row>
</mat-toolbar>
<div fxLayout="row">
<!--<div fxFlex="10%" style="background-color:#eaeaea; overflow: auto;">-->
<app-sidebar fxFlex="nogrow" [items]="getSidebarItems()" (activeItmEmitter)="changeActiveItem($event)"
[activeItem]="getActiveItem()"></app-sidebar>
<!-- </div>-->
<div fxFlex="60%">
<app-intro [ngClass]="{'hidden-cls': activeItem!==0 }"></app-intro>
<ng-container *ngFor="let mvw of getMainviewItems()" >
<app-data-view-container [item]="mvw" [ngClass]="{'hidden-cls': activeItem!==mvw.id }"></app-data-view-container>
</ng-container>
</div>
<app-chatbox fxFlexAlign="end" fxFlex="auto" (actnEmitter)="addNewUserMessage($event)"></app-chatbox>
<!--<app-message-list fxFlex [messages]="this.getMessages()"></app-message-list>-->
</div>
