<div fxLayout="row">
  <!--<div fxFlex="10%" style="background-color:#eaeaea; overflow: auto;">-->
  <app-sidebar fxFlex="nogrow" [items]="getSidebarItems()" (activeItmEmitter)="changeActiveItem($event)"
               [activeItem]="getActiveItem()"></app-sidebar>
  <!-- </div>-->
  <div fxFlex="60%">
    <app-intro [ngClass]="{'hidden-cls': activeItem!==0 }"></app-intro>
    <ng-container *ngFor="let mvw of getMainviewItems()" >
    <app-data-view-container [item]="mvw" [ngClass]="{'hidden-cls': activeItem!==mvw.id }"></app-data-view-container>
    </ng-container>
  </div>
  <div>
  <div class="ng-chat-title">
    <strong title="Assisstant"></strong>
  </div>
  <app-chatbox class="notification" *ngIf="showNotification" fxFlexAlign="end" fxFlex="auto" (actnEmitter)="addNewUserMessage($event)">
  </app-chatbox>
  </div>
  <div>
    <div>
      <div class="close" (click)="onCloseClick()">x</div>
    </div>
  </div>
  <ng-chat #ngChatInstance [adapter]="adapter" [userId]="userId" [hideFriendsList]="hideFriendsList" ></ng-chat>
  <!--<app-message-list fxFlex [messages]="this.getMessages()"></app-message-list>-->
</div>
