<div fxLayout="row">
  <!--<div fxFlex="10%" style="background-color:#eaeaea; overflow: auto;">-->
  <app-sidebar fxFlex="nogrow" [items]="getSidebarItems()" (activeItmEmitter)="changeActiveItem($event)"
               [activeItem]="getActiveItem()"></app-sidebar>
  <!-- </div>-->
  <div fxFlex="100%" id="mainView">
     
     
    <app-intro [ngClass]="{'hidden-cls': activeItem!==0 }"></app-intro>
    <ng-container *ngFor="let mvw of getMainviewItems()" >
      <app-data-view-container [item]="mvw" [ngClass]="{'hidden-cls': activeItem!==mvw.id }"></app-data-view-container>
      <app-rdf-ontology-view [item]="mvw" [ngClass]="{'hidden-cls': activeItem!==mvw.id }"></app-rdf-ontology-view>
    </ng-container>
  </div>
  <app-chatbox id="chatBox" fxFlexAlign="end" fxFlex="auto" (actnEmitter)="addNewUserMessage($event)"></app-chatbox>
</div>
