.container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
    min-height: 285px;
}

.container > * {
    width: 100%;
}

.container form{
    min-height: 285px;
}

.form {
    display: flex;
    padding-top: 6px;
}

.mat-form-field {
    font-size: 16px;
    flex-grow: 1;
}
