<div class="container">
    <form [formGroup]="updateForm" class="mat-dialog-content" #formControl="ngForm">

        <div class="form">
            <mat-form-field color="primary">
              <input matInput #input class="form-control" type="text" placeholder="Username"  formControlName="username" id="username">
              <mat-error *ngIf="hasError('username', 'required')">Username is required</mat-error>
              <mat-error *ngIf="hasError('username', 'maxlength')">You have more than 60 characters</mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="primary">
              <input matInput #input class="form-control" type="text" placeholder="First name" formControlName="firstname" id="firstname">
              <mat-error *ngIf="hasError('firstname', 'required')">First name is required</mat-error>
              <mat-error *ngIf="hasError('firstname', 'maxlength')">You have more than 60 characters</mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="primary">
              <input matInput #input class="form-control" type="text" placeholder="Last name"  formControlName="lastname" id="lastname">
              <mat-error *ngIf="hasError('lastname', 'required')">Last name is required</mat-error>
              <mat-error *ngIf="hasError('lastname', 'maxlength')">You have more than 60 characters</mat-error>
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-button [type]="submit" [disabled]="!updateForm.valid" [mat-dialog-close]="1" (click)="submit(updateForm.value)">Save</button>
            <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
        </div>
    </form>
</div>
