<!--<mat-card style="margin-bottom: 5px">-->
  <!--<mat-card-header>
    <div mat-card-avatar [ngClass]="message.avatar=='chatbot'?'chatbot-header':'user-header'"></div>
    <mat-card-title>{{message.username}}</mat-card-title>
    <mat-card-subtitle>{{message.timestamp.toLocaleString()}}</mat-card-subtitle>
  </mat-card-header>-->
  <mat-card fxLayout="col" style="margin-bottom: 5px" fxLayoutGap="15px">
    <div class="avatar-det" fxFlex="nogrow">
      <div [ngClass]="message.avatar=='chatbot'?'chatbot-header':'user-header'" class="avatar-img"></div><br>
      <a style="font-size: small;font-weight: bold">{{message.username}}</a><br>
      <a style="font-size: x-small">{{message.timestamp.toLocaleTimeString()}}</a>
    </div>
    <div fxFlex>
      {{message.content}}
    </div>
  </mat-card>
<!--</mat-card>-->
