<div class="table-cls">
  <div style="margin-bottom: 20px;" fxLayout="column">
    <h3>{{dsdetail.dsName}} Dataset</h3>
    <span>{{dsdetail.dsDesc}}</span>
  </div>
  <!-- TODO: Think of better expansion/collapse buttons UI -->
  <div fxLayout="row" fxLayoutGap="20px" style="margin-bottom: 10px;">
    <div fxLayoutAlign="start" fxFlex="grow"><b>Following is the list of Data tables in
      this dataset:</b></div>
    <div fxLayout="row" fxLayoutAlign="end" fxFlex="nogrow">
      <button mat-icon-button (click)="tableAcc.openAll()">
        <mat-icon color="primary" matTooltip="Expand All Tables">add_box</mat-icon>
      </button>
      <button mat-icon-button (click)="tableAcc.closeAll()">
        <mat-icon color="primary" matTooltip="Collapse All Tables">indeterminate_check_box</mat-icon>
      </button>
    </div>
  </div>

  <mat-accordion [multi]="true" #tableAcc="matAccordion">
    <mat-expansion-panel *ngFor="let fileItem of dsdetail.filesMd">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <!--<mat-checkbox appClickStopPropagation>{{fileItem.displayName}}</mat-checkbox>-->
          {{fileItem.displayName}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="row" style="margin-bottom: 20px;">
        <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start" fxFlex="grow">
          <span><b>Display Name:</b> {{fileItem.displayName}}</span>
          <span><b>File Name:</b> {{fileItem.fileName}}</span>
          <span><b>Row Count:</b> {{fileItem.rowCount}}</span>
          <span><b>Column Count:</b> {{fileItem.colCount}}</span>
          <span><b>File Description:</b> {{fileItem.fileDesc}}</span>
        </div>
        <div fxLayoutAlign="end" fxFlex="nogrow">
          <div>
            <button mat-raised-button (click)="requestDataTable(fileItem.fileName)">Open Table</button>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="20px">
        <div style="margin-bottom: 10px;" fxLayoutAlign="start" fxFlex="grow"><b>Following is the list of columns in this data table:</b></div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end" fxFlex="nogrow">
          <button mat-icon-button (click)="colAcc.openAll()">
            <mat-icon matTooltip="Expand All Columns">unfold_more</mat-icon>
          </button>
          <button mat-icon-button (click)="colAcc.closeAll()">
            <mat-icon matTooltip="Collapse All Columns">unfold_less</mat-icon>
          </button>
        </div>
      </div>
      <mat-accordion [multi]="true" #colAcc="matAccordion">
        <mat-expansion-panel *ngFor="let colItem of fileItem.fileColMd">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{colItem.colName}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="column" fxLayoutGap="5px">
            <span><b>Column Name:</b> {{colItem.colName}}</span>
            <span><b>Column Type:</b> {{colItem.colType}}</span>
            <span><b>Column Description:</b> {{colItem.colDesc}}</span>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>
  <!--<app-rdf-ontology-view ></app-rdf-ontology-view>-->
  
</div>

    <!--<h1 align="center">RDF ontology for Historian data </h1>
    <svg [attr.id]="svgid">test </svg>
    
    <h1 align="center">RDF ontology for Historian data </h1>-->

