<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-header>
      <mat-card-title>Intelligent Data Assistant</mat-card-title>
      <mat-card-subtitle>Chatbot</mat-card-subtitle>
      <img mat-card-avatar src="/assets/chatbot.PNG">
    </mat-card-header>
    <h1 align="center" class="mat-display-2">Login</h1>
    <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="loginUser(loginForm.value)" fxLayout="column wrap"
          fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>

        <mat-form-field>
          <input matInput type="email" placeholder="Username" formControlName="username" id="username">
          <mat-error *ngIf="hasError('username', 'required')">Username is required</mat-error>
          <mat-error *ngIf="hasError('username', 'email')">Incorrect format</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password" id="password">
          <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
          <mat-error *ngIf="hasError('password', 'maxlength')">You have more than 100 characters</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" align="end" [disabled]="!loginForm.valid">Login</button>
      </mat-card-actions>
    </form>
    <p align="right">Don't have an account ? Signup <a routerLink="/signup">here</a></p>
    <mat-spinner style="margin:0 auto;" mode="indeterminate" [style.display]="this.showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card>
</section>
