<mat-list style="background-color:#eaeaea; overflow: auto;height: 100vh" fxLayout="column" fxLayoutGap="0">
  <mat-divider></mat-divider>
  <mat-list-item>
    <button mat-button>City</button>
    <!--<button mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>-->
    <mat-divider></mat-divider>
  </mat-list-item>
  <mat-list-item>
    <button mat-button>Panama</button>
    <mat-divider></mat-divider>
  </mat-list-item >
  <mat-list-item>
    <button mat-button>QA</button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
