<ng-container [ngSwitch]="tabElement.tabType">
  <app-fdg-view *ngSwitchCase="tabType.FDG" [content]="tabElement.content"></app-fdg-view>
  <app-bargraph-view *ngSwitchCase="tabType.BG" [content]="tabElement.content"></app-bargraph-view>
  <div *ngSwitchCase="tabType.GEN">
    {{tabElement.content}}
  </div>
  <app-datatable-view *ngSwitchCase="tabType.DTTBL" [data]="tabElement.content"></app-datatable-view>
  <app-datatable-detail *ngSwitchCase="tabType.DSDET" [dsdetail]="tabElement.content"></app-datatable-detail>
  <app-venn-view *ngSwitchCase="tabType.VENND" [data]="tabElement.content"></app-venn-view>
  <app-deckgl-hex-view *ngSwitchCase="tabType.GSD" [data]="tabElement.content"></app-deckgl-hex-view>
  <app-ssb-view *ngSwitchCase="tabType.SSB" [data]="tabElement.content"></app-ssb-view>
  <app-soldier-timeline *ngSwitchCase="tabType.SCTL" [data]="tabElement.content"></app-soldier-timeline>
</ng-container>
