<ng-container [ngSwitch]="tabElement.tabType">
  <app-fdg-view *ngSwitchCase="tabType.FDG" [content]="tabElement.content"></app-fdg-view>
  <app-bargraph-view *ngSwitchCase="tabType.BG" [content]="tabElement.content"></app-bargraph-view>
  <div *ngSwitchCase="tabType.GEN">
    {{tabElement.content}}
  </div>
  <app-datatable-view *ngSwitchCase="tabType.DTTBL" [data]="tabElement.content"></app-datatable-view>
  <app-datatable-detail *ngSwitchCase="tabType.DSDET" [dsdetail]="tabElement.content"></app-datatable-detail>
</ng-container>
